@using Microsoft.AspNet.Identity
@using Szakdolg.Controllers

@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" } ))
    {
        @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        @if (User.IsInRole("Admin"))
        {
            <li>
                <a class="nav-link badge-notification" data-badge="@Html.Action("FeedBack", "Notification")" href="/IntezoFeedBack"><img src="@Url.Content($"~/Content/Img/notification.png")" style="width:24px"></a>
            </li>
            <li>
                <a class="nav-link badge-notification" data-badge="@Html.Action("Konzul", "Notification")" href="/IntezoKonzul"><img src="@Url.Content($"~/Content/Img/calendar.png")" style="width:24px"></a>
            </li>
        }

        <li>
            @Html.ActionLink("Üdv: " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link underline" })
        </li>

        <li><a class="nav-link underline" href="javascript:document.getElementById('logoutForm').submit()">Kijelentkezés</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="nav-link" })</li>*@
        <li>@Html.ActionLink("Bejelentkezés", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="nav-link underline" })</li>
    </ul>
}
