@model Szakdolg.Models.Sablonok

    <div class="col-md-4">
        <div class="cardSablon">
            <div class="image">
                <img src="~/Content/Img/@(Model.Img)" alt="@Model.Megnevezes" />
            </div>
            <div class="details">
                <div class="center">
                    <h1>@Model.Megnevezes</h1>
                    <p>@Model.Ar FT</p>
                    @if (User.IsInRole("Admin"))
                    {
                        <br />
                        <span>@Html.ActionLink("Módositás", "Modositas", "Sablon", new { id = Model.Id }, new { @class = "btn btn-outline-dark" })</span>
                        <span onclick="return confirm('Törlöd?')">@Html.ActionLink("Törlés", "Delete", "Munka", new { id = Model.Id }, new { @class = "btn btn-outline-danger" })</span>
                    }
                </div>
            </div>
        </div>
    </div>
