@model Szakdolg.Models.MunkaModel

@{
    ViewBag.Title = "Modositas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Módosítás</h2>
<br />

@using (Html.BeginForm("MentesKep", "Munka", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="form-group">
        @Html.LabelFor(m => m.Munkaim.Nev)
        @Html.TextBoxFor(m => m.Munkaim.Nev, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Munkaim.Nev)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Munkaim.Elkeszult, new { @class = "col-md-2 control-label" })
        <input class="form-control" type="date" value="2018-01-01" id="Munkaim.Elkeszult" name="Munkaim.Elkeszult">
    </div>


    @Html.HiddenFor(m => m.Munkaim.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-outline-success">Mentés</button>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
